body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h2 {
    color: #4b0082;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnConselho {
    background-color: #ffd700;
    color: #4b0082;
}

#btnApagaUm,
#btnApagaTodos {
    background-color: #4b0082;
    color: #ffd700;
}

button:hover {
    background-color: #ffec8b;
}

.conselho {
    text-align: center;
    color: #4b0082;
    margin-top: 20px;
}
